{% extends 'base.html' %}

{% load static %}

{% block content %}
  <!-- Begin page content -->
  <main role="main" class="mt-3 flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>{{ pagename }}</h1>
          <hr />
        </div>
      </div>

      <div class="row">
        {% comment %} <div class="col">
          <p>На данной страницы будут отображаться все созданные сниппеты.</p>
          <p>Пока тут просто пример, но скоро заменим реальными сниппетами из БД!</p>
          <hr />
        </div> {% endcomment %}
      </div>

      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col">Язык</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Пользователь</th>
                <th scope="col">Статус</th>
              </tr>
            </thead>
            <tbody>
              {% for snip in snippets %}
                <tr>
                  <td scope="row">{{ snip.id }}</td>
                  <td>
                    <a href="{% url 'snippet-item' snip.id %}">{{ snip.name }}</a>
                  </td>
                  <td>{{ snippet.lang }}</td>
                  <td>{{ snip.creation_date }}</td>
                  <td>{{ snip.user.username }}</td>
                  <td>
                    {% if snip.is_private %}
                      🔴
                    {% else %}
                      🟢
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div align="right">
            <i style="color: gray;">Всего сниппетов: {{ snippets|length }}</i>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
